<%= form_with(model: grower, local: true) do |form| %>
  <% if grower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grower.errors.count, "error") %> prohibited this grower from being saved:</h2>

      <ul>
      <% grower.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :grower_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :grower_last_name %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number, id: :grower_phone_number %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :grower_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
