<%= form_with(model: agronomist, local: true) do |form| %>
  <% if agronomist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agronomist.errors.count, "error") %> prohibited this agronomist from being saved:</h2>

      <ul>
      <% agronomist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :agronomist_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :agronomist_last_name %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.datetime_select :birthday, id: :agronomist_birthday %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
