<%= form_with(model: field, local: true) do |form| %>
  <% if field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
      <% field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :field_name %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.text_field :area, id: :field_area %>
  </div>

  <div class="field">
    <%= form.label :area_unit %>
    <%= form.text_field :area_unit, id: :field_area_unit %>
  </div>

  <div class="field">
    <%= form.collection_select(
        :farm_id,
        @farms,
        :id,
        :name,
        { :prompt => 'Please select a Farm', :select => @field.farm_id},
        {}
        ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
